{% extends 'dashboard/dashboard-base.html' %} {% block page_content_wrapper %}

<div class="col-sm-12">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <div class="header-title">
        <h4 class="card-title">Countries List</h4>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <div class="row justify-content-between">
          <div class="col-sm-6 col-md-6">
            <div id="user_list_datatable_info" class="dataTables_filter">
              <form
                class="mr-3 position-relative"
                method="GET"
                action="{{ url_for('country.country_list') }}"
              >
                <div class="form-group mb-0">
                  <input
                    type="search"
                    class="form-control"
                    id="exampleInputSearch"
                    name="q"
                    placeholder="Search"
                    aria-controls="user-list-table"
                  />
                </div>
              </form>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="user-list-files d-flex">
              <a
                class="bg-primary"
                href="{{ url_for('country.country_add_form') }}"
              >
                New Country
              </a>
            </div>
          </div>
        </div>
        <table
          id="user-list-table"
          class="table table-striped dataTable mt-4"
          role="grid"
          aria-describedby="user-list-page-info"
        >
          <thead>
            <tr class="ligth">
              <th>NAME</th>
              <th>OFFICIAL NAME</th>
              <th>CODE</th>
              <th>CAPITAL</th>
              <th>POPULATION</th>
              <th>AREA</th>
              <th>REGION</th>
              <th>SUBREGION</th>
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            {% for country in countries[0]['data'] %}
            <tr>
              <td>{{ country.name }}</td>
              <td>{{ country.official_name }}</td>
              <td>{{ country.code }}</td>
              <td>{{ country.capital }}</td>
              <td>{{ country.population }}</td>
              <td>{{ country.area }}</td>
              <td>{{ country.region }}</td>
              <td>{{ country.subregion }}</td>
              <td>
                <div class="d-flex align-items-center list-user-action">
                  <a
                    class="btn btn-sm bg-primary mr-1"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=""
                    data-original-title="Edit"
                    href="{{ url_for('country.country_add_form', code=country.code) }}"
                    ><i class="ri-pencil-line mr-0"></i
                  ></a>
                  <form
                    method="POST"
                    class="delete-message"
                    data-route="{{ url_for('country.country_delete', code=country.code) }}"
                    data-returnurl="{{ url_for('country.country_list') }}"
                  >
                    <input
                      type="hidden"
                      name="csrf_token"
                      value="{{ csrf_token() }}"
                    />
                    <button
                      type="submit"
                      class="btn btn-sm bg-primary"
                      data-toggle="tooltip"
                      data-placement="top"
                      title=""
                      data-original-title="Delete"
                    >
                      <i class="ri-delete-bin-line mr-0"></i>
                    </button>
                  </form>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="row justify-content-between mt-3">
        <div id="user-list-page-info" class="col-md-6">
          {% if countries[0].data | length > 0 %}
          <span
            >Showing {{(pageNumber-1)*pageSize}} to {{pageNumber*pageSize}} of
            {{countries[0]['metadata'][0].count}} entries</span
          >
          {% endif %}
        </div>
        <div class="col-md-6">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item">
                <a class="page-link" href="{{prev_url}}">Previous</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="{{next_url}}">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock page_content_wrapper %}
