{% extends 'base.html' %} {% block squeleton_wrapper %}
<section class="login-content">
  <div class="container">
    <div
      class="row align-items-center justify-content-center height-self-center"
    >
      <div class="col-lg-8">
        <div class="card auth-card">
          <div class="card-body p-0">
            <div class="d-flex align-items-center auth-content">
              <div class="col-lg-6 content-left">
                <div class="p-3">
                  <h2 class="mb-2">Sign In</h2>
                  <p>Login to stay connected.</p>
                  <form action="{{ url_for('auth.login_action') }}">
                    <button type="submit" class="btn btn-primary">
                      Sign In
                    </button>
                    <p class="mt-3">
                      Create an Account
                      <a
                        href="{{ url_for('auth.login_action') }}"
                        class="text-underline"
                        >Sign Up</a
                      >
                    </p>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 content-right">
                <img
                  src="{{ url_for('static', filename='assets/images/login/01.png')}}"
                  class="img-fluid image-right"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock squeleton_wrapper %}
