{% extends 'base.html' %} {% block squeleton_wrapper %}
<section class="login-content">
  <div class="container">
    <div
      class="row align-items-center justify-content-center height-self-center"
    >
      <div class="col-lg-8">
        <div class="card auth-card">
          <div class="card-body p-0">
            <div class="d-flex align-items-center auth-content">
              <div class="col-lg-6 content-left">
                <div class="p-3">
                  <h2 class="mb-2">Onboarding</h2>
                  <p class="mb-5">Complete your profile</p>
                  <form
                    method="POST"
                    action="{{ url_for('auth.complete_onboarding') }}"
                  >
                    <div class="row mb-4">
                      <div class="col-lg-12">
                        <div class="floating-label form-group">
                          <input
                            class="floating-input form-control"
                            type="text"
                            value="{{ current_user.email }}"
                            disabled
                          />
                          <label>Email</label>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="floating-label form-group">
                          <input
                            class="floating-input form-control"
                            type="text"
                            name="first_name"
                            placeholder=" "
                          />
                          <label>First Name</label>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="floating-label form-group">
                          <input
                            class="floating-input form-control"
                            type="text"
                            name="last_name"
                            placeholder=" "
                          />
                          <label>Last Name</label>
                        </div>
                      </div>
                    </div>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button type="submit" class="btn btn-primary">Next</button>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 content-right">
                <img
                  src="{{ url_for('static', filename='assets/images/login/01.png') }}"
                  class="img-fluid image-right"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock squeleton_wrapper %}
